// Bitter - Serif font - Main Tjuna Header font
@font-face {
  font-family: 'bitter-bold';
  src: url('../fonts/vendor/Bitter-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'bitter-italic';
  src: url('../fonts/vendor/Bitter-Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'bitter-regular';
  src: url('../fonts/vendor/Bitter-Regular.ttf') format('truetype')
}

// Proxima Nova - Sans Serif font - Main Tjuna Body font
@font-face {
  font-family: 'proxima-black';
  src: url('../fonts/vendor/ProximaNova-Black.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-extra-bold';
  src: url('../fonts/vendor/ProximaNova-Extrabold.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-bold';
  src: url('../fonts/vendor/ProximaNova-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-bold-italic';
  src: url('../fonts/vendor/ProximaNova-BoldIt.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-light';
  src: url('../fonts/vendor/ProximaNova-Light.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-light-italic';
  src: url('../fonts/vendor/ProximaNova-LightItalic.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-regular-italic';
  src: url('../fonts/vendor/ProximaNova-RegItalic.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-regular';
  src: url('../fonts/vendor/ProximaNova-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-semi-bold';
  src: url('../fonts/vendor/ProximaNova-Semibold.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-semi-bold-italic';
  src: url('../fonts/vendor/ProximaNova-SemiboldItalic.otf') format('opentype')
}